/* Estilos gerais do app */
.app {
  display: grid;
  grid-template-areas:
    "menu"
    "conteudo"
    "rodape";
}
.menu {
  grid-area: menu;
}
.conteudo {
  grid-area: conteudo;
  max-width: 80vw;
  margin: 10px auto;
  min-height: calc(100vh - 116px);
}
.rodape {
  grid-area: rodape;
  height: 40px;
}

/* sobrescrevendo o date picker */
.datepicker {
  display: block;
  width: 100%;
}

.react-datepicker__day--selected {
  border-radius: 0.3rem;
  background-color: #c91331 !important;
  color: #fff;
}
input[type="text"] {
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  line-height: 1.5 !important;
  font-size: 1rem !important;
  height: calc(1.5em + 0.75rem + 2px) !important;
}
