/* Estilos gerais do app */
.app {
  display: grid;
  grid-template-areas:
    "menu"
    "conteudo"
    "rodape";
}
.menu {
  grid-area: menu;
}
.conteudo {
  grid-area: conteudo;
  max-width: 80vw;
  margin: 10px auto;
  min-height: calc(100vh - 116px);
}
.rodape {
  grid-area: rodape;
  height: 40px;
}

/* sobrescrevendo o date picker */
.datepicker {
  display: block;
  width: 100%;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #c91331 !important;
  color: #fff;
}
