/* Estilos gerais do app */
.app {
  display: grid;
  grid-template-areas:
    "menu"
    "conteudo"
    "rodape";
}
.menu {
  grid-area: menu;
}
.conteudo {
  grid-area: conteudo;
  max-width: 80vw;
  margin: 10px auto;
  min-height: calc(100vh - 116px);
}
.rodape {
  grid-area: rodape;
  height: 40px;
}
